.floating {
  animation: floating 4s linear infinite;
}


.fl-icon {
  position: absolute;
  transform: translateZ(0);
}
.icon-left-1 {
  left: 5%;
  top: 22%;
}
.icon-left-2 {
  left: 7%;
  top: 43%;
}
.icon-left-3 {
  left: 3%;
  top: 56%;
}
.icon-right-1 {
  right: 4%;
  top: 23%;
}
.icon-right-2 {
  right: 9%;
  top: 55%;
}




@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotating {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(360deg);
  }
}