@import "vars";

.floating {
  animation: floating 4s linear infinite;
}

.fl-icon {
  position: absolute;
  transform: translateZ(0);
}
.icon-left-1 {
  left: 5%;
  top: 22%;
}
.icon-left-2 {
  left: 7%;
  top: 43%;
}
.icon-left-3 {
  left: 3%;
  top: 56%;
}
.icon-right-1 {
  right: 4%;
  top: 23%;
}
.icon-right-2 {
  right: 9%;
  top: 55%;
}

.icon-center {
  left: 50%;
  top: 50%;
}

.double-rotating {
  &:before, &:after {
    content: '';
    border-radius: 50%;
    width: 270px;
    height: 270px;
    left: 50%;
    top: 50%;
    position: absolute;
  }
  &:before {
    border: 1px dashed rgba($secondary, 0.75);
    animation: rotating linear 90s infinite;
  }
  &:after {
    width: 200px;
    height: 200px;
    border: 1px dashed rgba($grey, 0.5);
    animation: rotating linear 70s infinite reverse;
  }

}



@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotating {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(360deg);
  }
}