.push-right {
  margin-left: auto;
}
.push-left {
  margin-right: auto;
}
.text-center{
  text-align: center;
}
.text-right {
  text-align: right;
}
.relative {
  position: relative;
}
.bg-mask {
  width: 100%;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  &.bottom {
    background-position: bottom;
  }
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}