@import "vars";
@import "reset";
@import "mixins";
@import "grid";
@include breakpoints($breakpoints, $columns);
@include margins($breakpoints, $margins);
@include colors($colors);
@import "helpers";
@import "animations";

@import "fonts";
@import "layout";
@import "elements";

$sm: nth(nth($breakpoints, 2), 2);
$md: nth(nth($breakpoints, 3), 2);

body {
  @media screen and (max-width: $md) {
    @import "tablet";
  }

  @media screen and (max-width: $sm) {
    overflow-x: hidden;
    @import "mobile";
  }
}
