/// Grid
$container: 1200px;
$columns: 12;

//Colors
$text-color: #020306;
$primary: #325699;
$secondary: #FFCB49;
$green: #75B644;
$error: #FF6B6B;

$grey: #9C9DA0;
$light-grey: #A8B7C3; //notes
$bg-color: #F4F5F8;


/// Fonts
$font-size: 16px;

/// Media sizes and breakpoints
$breakpoints: (
        xs: 320px,
        sm: 425px,
        md: 768px,
        lg: 1040px,
        xl: 1440px
);

/// Margins
$margins: (
        xs: 10px,
        sm: 20px,
        md: 40px,
        lg: 60px,
        xl: 100px
);

/// Additional variables:
$button-height: 45px;
$input-height: 40px;
$mobile-menu-height: 60px;
