section {
  &.step-wrap {
    min-height: 70vh;
  }
  .mask {

  }
}
.iphone {
  position: sticky;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%,-50%);
  display: inline-flex;
  padding: 15px;
  background-position: center;
  background-repeat: no-repeat;
  .bg {
    position: absolute;
    z-index: 1;
  }
}