@import "../../styles/vars";

.header-wrap {
  background: #fff;
}
.main-header {
  display: flex;
  align-items: center;
  .market-buttons {
    a:last-child {
      margin-left: 10px;
    }
  }
}
.btn-market {
  height: $button-height;
  line-height: 1;
  img {
    vertical-align: middle;
  }
}

.main-menu {
  padding: 10px 0;
}
.nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  height: $input-height;
  display: inline-flex;
  margin-right: 2em;
  font-weight: 600;
  text-decoration: none;
  color: $text-color;
  align-items: center;
  &:hover, .active {
    color: $primary;
  }
}