@import "../../styles/vars";

.top-wrap {
  height: calc(100vh - #{$mobile-menu-height});
  display: flex;
  background: #fff url(../../img/main/main-mask.svg);
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 800px;
}
.title {
  color: $primary;
  margin-top: 15px;
  line-height: 1;
  &.title {
    font-weight: 600;
  }
}
.site-description {
  font-weight: 300;
  font-size: 18px;
  color: $grey;
}

.features-wrap {
  position: absolute;
  bottom: 20%;
  width: 100%;
}
.feature-item {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  z-index: 2;
  &:nth-child(2n) {
    transform: translateY(50%);
  }
  &:nth-child(-1 + 2n) {
    transform: translateY(-50%);
  }
}
.feature-title {
  font-size: 35px;
  color: $primary;
  font-weight: 700;
  margin: 10px 0;
}
.feature-text {
  font-weight: 300;
}
