@import "../../styles/vars";

.news-wrap {
  .slick-slide {
    height: auto !important;
  }
  .slick-track {
    min-width: 100% !important;
  }
  .slick-prev, .slick-next {
    top: -$button-height;
    width: $button-height;
    height: $button-height;
    &.slick-disabled {
      opacity: 0.6;
    }
  }
  .slick-next {
    right: 0;
    transform: translate(0);
  }
  .slick-prev {
    left: auto;
    right: $button-height + 10px;
    transform: scale(-1);
  }
}

.categories {
  border-radius: 24px;
  border: 2px solid $primary;
  display: inline-flex;
  .category-name {
    $pdding: 30px;
    height: $button-height;
    letter-spacing: 0.9px;
    display: inline-flex;
    align-items: center;
    padding: 0 $pdding;
    white-space: nowrap;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: $primary;
    margin-left: -6px;
    cursor: pointer;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: calc(100% - #{$pdding * 2} );
      border-bottom: 1px dashed;
      left: $pdding;
      bottom: 10px;
      opacity: 0.5;
    }
    &:first-child {
      margin-left: 0;
    }
    &.active {
      background: $primary;
      color: white;
      border-radius: 22px;
      &:after {
        content: none;
      }
    }
  }
}

.news-item {
  outline: none;
  max-width: 340px;
  .date {
    color: $grey;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2px;
    margin-top: 40px;
  }
  .news-content {
    color: $grey;
    font-size: 18px;
    font-weight: 300;
    margin-top: 1rem;
  }
}