@import "../../styles/vars";

.map-wrap {
  margin-top: 60px;
}
.svg-map, .split-map {
  width: 100%;
  fill: $map-grey;
  height: auto;
  transition: transform 0.3s ease-in-out;
  &.general {
    #west, #east {
      &:hover {
        fill: $primary;
      }
    }
  }
  #west {
    transition: all 0.3s ease-in-out;
    path, polygon {
      animation: dashline 4s linear alternate forwards;
    }
  }
  #east {
    transition: all 0.3s ease-in-out;
    path, polygon {
      animation: dashline 2.4s linear alternate forwards;
    }
  }
  .hidden {
    & > #west {
      transform: translateX(-40%);
      opacity: 0;
    }
    & > #east {
      transform: translateX(30%);
      opacity: 0;
    }

  }
  path, polygon {
    stroke: #fff;
    cursor: pointer;
    stroke-dasharray: 1500;
    stroke-width: 1px;
    stroke-dashoffset: 1500;
    &.popular {
      fill: rgba($secondary, 0.7);
    }
    &.lake {
      fill: #a0e3fb;
    }
    &.active {
      fill: $primary;
    }
  }
  &.west {
    #west {
      transform: translateX(18%) scale(1.33);
    }
  }
  &.east {
    #east {
      transform: translateX(-16%) scale(1.05);
    }
  }
}
.back-to-map {
  cursor: pointer;
  opacity: 1;
  z-index: 20;
  position: relative;
  transition: opacity 0.1s ease-in-out;
  &.hidden {
    opacity: 0;
  }
}

.no-list {
  list-style-type: none;
  padding-left: 0;
  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 500;
    &.active {
      color: $secondary;
    }
  }
  .molniya {
    margin-right: 10px;
    opacity: 0.7;
  }
}
.top-issued-list {
  list-style-type: none;
  padding-left: 0;
  margin: 40px 0;
  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 500;
    &.active {
      color: $primary;
      .molniya {
        opacity: 1;
      }
    }
  }
}

.map-tooltip {
  position: absolute;
  background: #fff;
  color: $primary;
  padding: 15px;
  border-radius: 15px;
  //transform: translateY(-65px);
}

.search-wrap {
  margin-right: $min-margin;
  .clear {
    height: $input-height;
    background: none;
    border: none;
    color: $primary;
    width: $input-height;
    line-height: 1;
  }
}

.search-list-wrap {
  $height: 200px;
  $pd: 1rem;
  position: absolute;
  max-height: $height;
  overflow: hidden;
  display: none;
  background: #fff;
  width: 100%;
  padding: $pd;
  z-index: 25;
  .search-list {
    max-height: calc( #{$height} - #{$pd * 2});
    overflow: scroll;
    & > div {
      cursor: pointer;
      margin-bottom: 8px;
    }
  }
  &.opened {
    display: block;
  }
}



@keyframes dashline {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
