@import "../../styles/vars";

.map-wrap {
  margin-top: 60px;
  margin-bottom: 60px;
}
.svg-map, .split-map {
  width: 100%;
  fill: $map-grey;
  height: auto;
  #west, #east {
    &:hover {
      fill: $primary;
    }
  }
  path, polygon {
    stroke: #fff;
    cursor: pointer;
    stroke-dasharray: 1500;
    stroke-width: 1px;
    stroke-dashoffset: 1500;
    animation: dashline 2s linear alternate forwards;
    &.popular {
      fill: rgba($secondary, 0.7);
    }
    &.lake {
      fill: #a0e3fb;
    }
    &.active {
      fill: $primary;
    }
  }
}

.top-issued-list {
  list-style-type: none;
  padding-left: 0;
  margin: 40px 0;
  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 500;
    &.active {
      color: $primary;
      .molniya {
        opacity: 1;
      }
    }
  }
  .molniya {
    margin-right: 10px;
    opacity: 0.7;
  }
}

.map-tooltip {
  position: absolute;
  background: #fff;
  color: $primary;
  padding: 15px;
  border-radius: 15px;
  transform: translateY(-65px);
}



@keyframes dashline {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
